/* CSS for coaches table */

/* header {
    display: flex;
    flex-direction: column; /* Вирівнювання по вертикалі 
    justify-content: center; /* Вирівнювання по центру горизонталі 
    align-items: center; /* Вирівнювання по центру вертикалі 
    background-color: #333; /* Колір фону *
    color: white; /* Колір тексту *
    padding: 20px; /* Відступ /
} */

#defensive-image {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 5px;
}

footer {
    background-color: #333333;
    color: white; /* Колір тексту */
    padding: 20px; /* Відступ для футера */
}



.section-heading {
    color: #333;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#special-characters {
    opacity: 0.5; /* Півпрозорий */
}

#coaches {
    background-color: #333333; /* Колір фону контейнера */
    color: white; /* Колір тексту у контейнері */
    padding: 20px; /* Відступ для контейнера */
}

.coaches-table {
    background-color: white; /* Колір фону таблиці */
    color: #333333; /* Колір тексту у таблиці */
    border-collapse: collapse; /* Злиття рамок таблиці */
    width: 100%; /* Ширина таблиці */
}

.coaches-table th, .coaches-table td {
    border: 1px solid #ddd; /* Рамка для комірок */
    padding: 8px; /* Відступ у комірках */
    text-align: left; /* Вирівнювання тексту по лівому краю */
}

.coaches-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Заливка кожного другого рядка */
}

.coaches-table tr:hover {
    background-color: #ddd; /* Заливка при наведенні на рядок */
}

.coaches-table th, .coaches-table td {
    border: 1px solid #ddd; /* Відокремлення між комірками */
    padding: 8px;
    text-align: left;
}

/* CSS for main headings */
.main-heading, .sub-heading, .section-heading {
    color: white; /* Колір тексту */
    font-family: Arial, sans-serif; /* Шрифт */
    margin-bottom: 10px; /* Відступ знизу */
    text-align: center;
}

#sub-tactics {
    display: flex; /* Зробити контейнер гнучким */
    flex-direction: row; /* Розташувати елементи в рядок */
    justify-content: space-around; /* Рівномірно розподілити простір між елементами по горизонталі */
    align-items: center; /* Вирівняти елементи по вертикалі по центру */
}


/* CSS for images */
.strategy img {
    width: 300px; /* Розмір зображень */
    height: auto; /* Автоматична висота для збереження пропорцій */
}

#main-content {
    overflow: auto; /* Показувати прокрутку, якщо вміст не поміщається */
}

/* Додаткові стилі можна додавати тут */

a {
    color: green; /* Колір тексту для звичайних посилань */
    text-decoration: none; /* Відміна підкреслення */
}

a:hover {
    text-decoration: underline; /* Підкреслення при наведенні курсора */
}

ol {
    margin-left: 20px; /* Відступ від лівого краю для всіх списків */
    list-style-position: inside; /* Розміщення маркера всередині блоку списку */
    background-color: #1d1d1d;

}
.navigation {
    background-color: #333333; /* Замініть це на ваш колір фону */
    padding: 10px; /* Додайте відступ для кращого вигляду */
    color: white;
}

li {
    margin-bottom: 5px; /* Відступ знизу для кожного пункту списку */
    padding-left: 10px; /* Відступ від лівого краю для тексту пункту списку */
    background-color: #1d1d1d;

}
dl {
    background-color: #1d1d1d;

}

/* Стилі для списку, який знаходиться в #main-content */
#main-content ul {
    list-style-type: square; /* Тип маркера (квадрат) для невпорядкованого списку */
}

#main-content ol {
    list-style-type: decimal; /* Тип маркера (цифра) для впорядкованого списку */
}

.flex-container {
    display: flex;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up {
    animation: slide-up 0.5s ease-out forwards;
}

.team-list{
    background-color: #333333;
    padding-left: 20px; /* Відступ для списку команд */

}

#main-content {
    display: flex;
    flex-direction: column; /* Вирівнювання по вертикалі */
    background-color: #333; /* Колір фону */
    color: white; /* Колір тексту */
    padding: 20px; /* Відступ */
}

/* Стилі для заголовків */
.section-heading, .sub-heading {
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для списку команд */
.team-list {
    list-style-type: none; /* Видалити маркери списку */
    padding: 0; /* Видалити відступи */
}

/* Стилі для списку тактик */
.tactics-list {
    padding-left: 20px; /* Відступ для списку тактик */
}

/* Стилі для зображень стратегій */
.strategy img {
    width: 300px; /* Зберігаємо ширину в 300px */
    height: auto; /* Автоматична висота для збереження пропорцій */
}

.menu {
    display: flex; /* Встановлення flex контейнера */
    justify-content: space-around; /* Рівномірне розподілення простору між елементами по горизонталі */
    width: 100%; /* Ширина меню на всю ширину контейнера */
    background-color: #1d1d1d; /* Замініть це на ваш колір фону */
    color: white; /* Колір тексту */
    padding: 10px 0; /* Відступи для меню */
    margin: 0;
    list-style-type: none; /* Видалення маркерів списку */
    font-size: 20px; /* Розмір тексту для пунктів меню */
}

.menus {
    background-color: #1d1d1d; /* Замініть це на ваш колір фону */
    display: flex; /* Встановлення flex контейнера */
    justify-content: space-around; /* Рівномірне розподілення простору між елементами по горизонталі */
    width: 100%; /* Ширина меню на всю ширину контейнера */
    list-style-type: disc;
    font-size: 18px; /* Розмір тексту для пунктів меню */

}



/* CSS для основного контейнера */
.container {
    display: flex; /* Встановлення flex контейнера */
    flex-direction: column; /* Вирівнювання по вертикалі */
    align-items: center; /* Вирівнювання елементів по центру горизонталі */
    background-color: #f2f2f2; /* Колір фону контейнера */
    color: #333; /* Колір тексту */
    padding: 20px; /* Відступи для контейнера */
}

h1 {
    margin-top: 0; /* Видалення верхнього відступу для заголовка */
}

/* CSS для відступу між блоками */
.space {
    margin-top: 20px; /* Відступ зверху між блоками */
}


/* Медіа-запит для адаптивного дизайну */
@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row; /* Зміна напрямку flex контейнера на горизонтальний */
        justify-content: space-between; /* Рівномірне розподілення простору між елементами по горизонталі */
        align-items: flex-start; /* Вирівнювання по верхній частині горизонталі */
        padding: 20px 50px; /* Відступи для контейнера */
    }

    .menu {
        width: auto; /* Автоматична ширина меню */
        color: white;
    }

    .space {
        margin-top: 0; /* Видалення верхнього відступу між блоками */
    }

    .footer {
        padding: 20px; /* Відступи для футера */
    }
}

.menu li {
    margin-right: 1px; /* Додатковий відступ між пунктами меню */
}

.menu li:last-child {
    margin-right: 0; /* Видаляємо відступ для останнього пункту */
}

