@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* CSS */
.menu {
  position: absolute;
  top: 20px; /* Розташування зверху */
  left: 50%; /* Центруємо по горизонталі */
  transform: translateX(-50%); /* Центруємо по горизонталі */
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #1d1d1d;
  color: black;
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  font-size: 20px;
}
footer {
  position: fixed; /* Чи можливо потрібно вам fixed? */
  bottom: 0;
  width: 100%;
}

.menu li {
  margin-right: 1px;
}

.menu li:last-child {
  margin-right: 0;
}

ul.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  background-color: #1d1d1d;
  color: blue;
  padding: 5px 0;
  margin: 0; /* Видаляє зовнішній відступ у списку */
}

form {
  width: 30%;
  padding: 50px 0;
  margin: 0 auto; /* Встановлює однаковий зовнішній відступ зліва і справа, а верхній і нижній - нуль */
  text-align: center;
}



.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Form title */
.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form fields */
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Form submit button */
.registration-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
body {
    background-color:  #333333;
    color: #fff; /* колір тексту */
    margin: 0; /* видаляє зовнішні відступи */
    padding: 0; /* видаляє внутрішні відступи */
    display: flex; /* використовуємо flexbox для центрування */
    justify-content: center; /* центруємо по горизонталі */
    align-items: center; /* центруємо по вертикалі */
    height: 100vh; /* встановлюємо висоту на всю висоту екрану */
}

/* Form submit button hover effect */
.registration-form button[type="submit"]:hover {
  background-color: #45a049;
}

.submit-button {
    width: 150px; /* задаємо ширину кнопки */
    height: 40px; /* задаємо висоту кнопки */
    font-size: 16px; /* можна змінити розмір тексту */
}

a {
  color: blue;
}

a:active {
  color: red;
}

.new {
  color:black
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #0012B9;
  color: #ffffff;
}

.wrapper .steam:hover,
.wrapper .steam:hover .tooltip,
.wrapper .steam:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e0163b;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background: #0012B9;
  color: #ffffff;
}

/* YouTube Link Styles */
#source-link {
  top: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 10px;
}

#yt-link > i {
  color: rgb(219, 31, 106);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}

.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}

#registration-btn {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Add transition effect for transform and background-color */
}

#registration-btn:hover {
  transform: scale(1.1); /* Increase the scale of the button by 10% */
  background-color: #161616; /* Change the background color to red */
  color: white; /* Change the text color to white */
}

/*# sourceMappingURL=styles.css.map */
.my-block_slide-up {
  text-align: center;
  color: white
}

.buttons {
  display: flex;
  justify-content: space-around; /* Distribute space evenly between buttons */
  margin-top: 20px; /* Add some top margin for spacing */
}
