body {
    background-color: #333333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.menu {
    position: absolute;
    top: 20px; /* Розташування зверху */
    left: 50%; /* Центруємо по горизонталі */
    transform: translateX(-50%); /* Центруємо по горизонталі */
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
  }

.title {
    color: white;
    text-align: center;
    background-color: #1d1d1d;
    padding: 1%;
}

.menu a {
    color:blue
}

.menu a:active {
    color:red
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.img-container img {
    width: 15%;
    height: 50%;
}